@import "./typography.css";
@import "./elements.css";

body {
  color: #333333;
  font-size: 18px;
  line-height: 28px;
  font-family: "Open Sans", serif;
}

.ui.vertical.menu {
  width: 12.5%;
}

.editable p {
  margin: 0 0 28px;
}

.editable pre {
  overflow-x: auto;
}

.editable a {
  color: #c73036;
  font-family: Georgia, serif;
  text-decoration: underline;
}

.editable a:hover {
  color: #333333;
  text-decoration: underline;
}

.editable .container {
  background: white;
  padding: 0 24px;
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
}

.ory-cell-leaf {
  padding: 8px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.editable,
#editable-static {
  padding: 5px;
}

.editable nav {
  color: #eee;
  background: #111;
  font-family: "Open Sans", serif;
}

.editable nav ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  text-align: right;
}

.editable nav ul li {
  display: inline-block;
  padding: 0 10px;
}

.editable nav ul li a,
.editable nav ul li a:visited {
  color: #eee;
  transition: all 200ms ease;
  text-decoration: none;
  font-family: "Open Sans", serif;
}

.editable nav ul li a:hover,
.editable nav ul li a:active {
  color: #aaa;
  text-decoration: none;
}
